/* ========================================================================== */
/* HTML Elements                                                              */
/* ========================================================================== */

a, a:visited {
    color: darkblue;
}

body {
    /* background image styles */
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(https://cdn.thewirecutter.com/wp-content/uploads/2017/06/pro-laptop-lowres-0467.jpg) no-repeat center center fixed;
    /* background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/slide-background-01.jpg'); */
    /* background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/slide-background-01.jpg'); */
    background-size: cover;
    /* background-blend-mode: darken; */
    height: 100%;
    overflow: hidden;

    color: white;
    font-family: monospace;
    font-size: 3em;
    margin: 100px 50px 50px 50px;
}

h1 {
    font-size: 120%;
    font-weight: normal;
    text-align: center;
}

h2 {
    font-size: 100%;
    font-weight: normal;
    text-align: center;
    margin-bottom: 30px;
}

h3 {
    text-transform: uppercase;
    font-size: 100%;
    font-weight: normal;
}

/*
 * Maybe use this instead: https://plaintexttools.github.io/plain-text-table/
 */
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid darkgray;
    padding: 6px;
}

ul {
    margin-left: 50px;
}

ol {
    margin-left: 70px;
}

/* ========================================================================== */
/* Classes                                                                    */
/* ========================================================================== */

.problem {
    color: darkred;
}

.solution {
    color: darkgreen;
}

.caption {
    font-style: italic;
    font-size: 80%;
    text-align: center;
}

.code {
    background-color: #404040;
    border-radius: 5px;
    color: white;
    padding: 15px;
}

.inline-code {
    background-color: #eaeaea;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.at-bottom-left {
    bottom: 50px;
    left: 50px;
    margin-bottom: 0;
    position: fixed;
    text-align: left;
}

.at-bottom-right {
    bottom: 50px;
    color: gray;
    right: 50px;
    margin-bottom: 0;
    position: fixed;
    text-align: right;
}

/* -------------------------------------------------------------------------- */
/* To center content in the middel of the page (horizontally and vertically)  */
/* Check out: http://emergentweb.com/test/valign.html# and                    */
/* https://stackoverflow.com/questions/396145/how-to-vertically-center-a-div-for-all-browsers */
/* -------------------------------------------------------------------------- */

/* TODO: These names are not obvious or self explanatory */
.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
}
