/* elements */

body {
    font-family: monospace;
    margin: 50px;
}

h1 {
    font-size: 120%;
    font-weight: normal;
    text-align: center;
}

h2 {
    font-size: 100%;
    font-weight: normal;
    text-align: center;
    margin-bottom: 30px;
}

h3 {
    text-transform: uppercase;
    font-size: 100%;
    font-weight: normal;
}

/* classes */

.problem {
    color: darkred;
}

.solution {
    color: darkgreen;
}

.code {
    background-color: black;
    color: white;
    padding: 15px;
}
